.container {
  margin: auto 0;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.children {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
  width: 60%;
  height: 40px;
  margin: auto 0;
  text-align: center;
  font-size: 28px;
  margin: 20px;
  padding-top: 2%;
  border-radius: 20px;
}

.btnX{
    color: white;
    background-color: red;
    border: none;
    padding: 4px 10px;
    position:relative;
    top:-30%;
    left: 25%;
    font-size: 15px;
    border-radius: 8px;
}
@media (min-width: 600px) {
    .btnX{
        top:-38%;
        left:35%;
    }
  }
@media (min-width: 1000px) {
    .btnX{
        top:-50%;
        left: 41%;
    }
  }
  @media (min-width: 1300px) {
    .btnX{
        top:-41%;
        left: 43%;
    }
    .children {
        padding-top: 1%;
    }
  }